<div class="merchandise-guarantee">
    <div class="guarantee-header">
        <h1>Filoso is proud to be</h1>
    </div>
    <div class="guarantee-icons">
        <div class="icons-row">
            <div class="icon-div">
                <div class="seventy-percent">
                    <img src="{{'fg-moneyback-v2.png' | asset_img_url:'300x'}}" />
                </div>
                <div class="thirty-percent">
                    <h3>100% Money Back<br />Guarantee</h3>
                </div>
            </div>
            <div class="icon-div">
                <div class="seventy-percent">
                    <img src="{{'fg-cruelty-free-v2.png' | asset_img_url:'300x'}}" />
                </div>
                <div class="thirty-percent">
                    <h3>Animal Cruelty<br />Free</h3>
                </div>
            </div>
            <div class="icon-div">
                <div class="seventy-percent">
                    <img src="{{'fg-barber-v2.png' | asset_img_url:'300x'}}" />
                </div>
                <div class="thirty-percent">
                    <h3>Made by<br />Master Barbers</h3>
                </div>
            </div>
            <div class="icon-div">
                <div class="seventy-percent">
                    <img src="{{'fg-shipping-v2.png' | asset_img_url:'300x'}}" />
                </div>
                <div class="thirty-percent">
                    <h3>Fast & Reliable<br />Shipping</h3>
                </div>
            </div>
            <div class="icon-div">
                <div class="seventy-percent">
                    <img src="{{'fg-safe-v2.png' | asset_img_url:'300x'}}" />
                </div>
                <div class="thirty-percent">
                    <h3>Safe, Healthy<br />Ingredients</h3>
                </div>
            </div>
            <div class="icon-div">
                <div class="seventy-percent">
                    <img src="{{'fg-hairfriendly-v2.png' | asset_img_url:'300x'}}" />
                </div>
                <div class="thirty-percent">
                    <h3>Hair-Growth<br />Friendly</h3>
                </div>
            </div>
        </div>
    </div>
</div>